{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block content %}


<div class="container-fluid">
  <!-- Content here -->
    <div class="row">
        <!--left-->
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    
                </div>
            </div>
          
            <div class="card">
                <div class="card-body">
                    
                </div>
            </div>
        </div>
        <!--middle-->
        <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
            <!-- Small button group -->
            <div class="btn-group">
                <button class="btn btn-danger btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    POST
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Public</a>
                    <a class="dropdown-item" href="#">Friends</a>
                    <a class="dropdown-item" href="#">Church</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Private</a>
                </div>
            </div>
                
            <img src="{% static 'img\img_7.jpg' %}" class="img-fluid noselect"  alt="image">
                
            <div class="media">
                <img class="d-flex mr-3" src="https://placehold.it/64x64" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0">Media heading</h5>
                    <h6>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</h6>
                </div>
            </div>
        </div>
        <!--right-->
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    
                </div>
            </div>
   
            <div class="card">
                <div class="card-body">
                    
                </div>
            </div>
        
        </div>
    </div>
</div>
<!-- Small button group -->
<div class="btn-group dropup">
    <button class="btn btn-warning btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        more...
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
    </div>
</div>
             
{% endblock %}